Vagrant.configure("2") do |config|
    config.vm.network "forwarded_port", guest: 8200, host: 8200, protocol: "tcp"
    config.vm.network "forwarded_port", guest: 8201, host: 8201, protocol: "tcp"
    config.vm.network "forwarded_port", guest: 8200, host: 8200, protocol: "udp"
    config.vm.network "forwarded_port", guest: 8201, host: 8201, protocol: "udp"
    #config.vm.box_download_insecure = true
  end